body {
    width: 75%;
   margin: 0px auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

header {
    height: 100px;
}

header > nav {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

main h1 {
    font-weight: bold;
}

 main h2 {
    font-weight: 300;
}

#logo-icon {
   margin-left: 50px;
   margin-top: 20px;
}

#logo {
    margin-left: 50px;
    margin-top: 20px;
}

#head-nav-links {
    margin-right: 50px;
    margin-top: 20px;
}

.mainpanel{
   margin: 50px;
}

#mainpanel-content {
    margin: 50px;
}


/* /////////////////// */

body {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: rgb(39, 38, 38); */
	background-color: rgb(119, 120, 128);
}

.box {
	display: flex;
}

/* .box .inner {
	width: 500px;
	height: 200px;
	line-height: 200px;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
} */

.box .inner {
	width: 300px;
	height: 100px;
	line-height: 100px;
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.box .inner:first-child { 
	/* background-color: indianred;  */
    /* color: darkred; */ 
    background-color: black;
    /* color:rgb(83, 82, 82); */
    /* color:rgb(240, 8, 8); */
    color:rgb(13, 44, 219);
	transform-origin: right;
	transform: perspective(100px) rotateY(-20deg);
}

.box .inner:last-child {
	/* background-color: lightcoral;
    color: antiquewhite; */
    /* background-color: rgb(240, 8, 8); */
    background-color: rgb(13, 44, 219);
    color: antiquewhite;
    /* color: black; */
	transform-origin: left;
	transform: perspective(100px) rotateY(20deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}